<div class="row">
                {{#each data}}
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-4">
                      <h5>
                        {{date}}
                      </h5>
                      <div class="text-center">
                        <!-- <a href="#" class="text-center" onclick="loadData('news/{{id}}','handlebars-details','content')">Read more</a> -->
                        <a href="?request=news/{{id}}" class="readmore btn btn-link ps-0">Read more</a>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h3>{{name}}</h3>
                      <p class="text-black-50">{{summary}}</p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>