<h1>Blogs</h1>
              {{#each data}}
              <div class="clearfix py-3">
                <h3>{{name}}</h3>
                <p class="text-black-50">by {{author}} in {{category.name}} on {{formatDate date}}. <a href="#comments">Comments {{comments.length}}</a></p>
                <img src="assets/{{imagepath}}" alt="{{name}}" class="float-start me-3 border rounded-4">
                <p class="text-black-50">{{{description}}}</p>
              </div>
              <div class="py-3" id="leave-comments">
                <h3>Leave your comments</h3>
                <form action="#" method="post" class="text-black-50" onsubmit="addComment(event)">
                  <input type="hidden" id="blogId" name="blogId" value="{{id}}">
                  <div class="text-center">
                    <div class="text-success" id="responseMessage"></div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name"   >
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email"   >
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="mb-3">
                      <textarea class="form-control" id="message" name="message" rows="3" placeholder="Enter your message" required></textarea>
                    </div>
                  </div>
                  <div>
                    <div class="mb-3">
                      <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="Enter your comment" required></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="agree" value="1" required>
                        <label class="form-check-label" for="agree">Agree to terms and conditions</label>
                      </div>
                    </div>
                    <div class="col text-end">
                      <button type="submit" class="btn btn-link py-0 my-0">Submit Comment</button>
                    </div>
                  </div>
                </form>
              </div>

              <a href="#comments"></a>
              <div class="bg-dark text-white py-2">
                COMMENTS {{comments.length}}
              </div>

              <div class="py-3 text-black-50">
                {{#each comments}}
                  <div>
                    <p>{{name}} - {{formatDate date}}</p>
                    <p>{{summary}}</p>
                    <hr>
                  </div>
                {{/each}}
              </div>
              {{/each}}